<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intro to EJS</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>

  <h1>Intro to EJS</h1>

  <h2><%= msg %> <%= player.name %></h2>

  <% if(val){ %>
    <p>this will show when true</p>
  <% }else{ %>
    <p>this will show when false</p>
  <% } %>

  <p>2 plus 2 is <%= 2 + 2 %></p>
  <p>My fav number is <%= num %> </p>

  <ul>
    <% inventory.forEach((item, index) => { %>
      <a href="/<%= index %>">
        <li><%= item.name %>: <%= item.qty %></li>
      </a>
    <% }) %>
  </ul>
</body>
</html>
